{% extends 'NCCBlogBundle::base.html.twig' %}

{% block body %}
<h1>Welcome to my blog!</h1>
<p>Here are the most recent posts:</p>
<div class="content">{% block content %}{% endblock %}</div>

{% endblock %}

